@font-face {
    font-family: Ubuntu;
    src: url("assets/fonts/Ubuntu-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;  
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* header */


.header{
    background-color: #02545c;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.container-nav {
    max-width: 1440px;
    display: flex;
    justify-content: left;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list {
    display: flex;
    align-items: center;
    color: #b2dde1;
    transition: color 0.5s;
    list-style: none;
}

.nav-item {
    text-decoration: none; 
}

.nav-link {
    text-decoration: none;
    padding: 0 20px;
    color: #b2dde1;
    line-height: 50px;
}

.nav-link:hover {
    color: #fff;
}


/* main */


.main {
    flex: 1 1 auto;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main-item {
    width: 50%;
    margin: 40px 0;
}

.ava-img{
    border-radius: 50%;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 200px;
}

.main-item__title {
    font-size: 25px;
    color: #02545c;
    margin: 10px 0px;
}

.main-item__title-h1{
    font-size: 40px;
}

.main-item__list{
    list-style: none;
    text-decoration: none;
}

.main-item__list-item {
    list-style: "▷ ";
}

.link {
    text-decoration: none;
    color: #02545c;
}
  
.link:hover {
    color: #000;
}


/* footer */


.footer{
    background-color: #013236;
    height: 130px;
    margin-top: 30px;
}

.container-footer{
    margin: 0 auto;
    max-width: 1440px;
    color: #b2dde1;
}

.footer-info {
    display: flex;
    align-items: center;
}

.footer-text {
    margin-left: 50px;
}

.container-footer a{
    text-decoration: none;
    color: #b2dde1;
}

.container-footer a:hover {
    color: #fff;
}

.rsschool-logo{
    padding: 30px 0;
    width: 8em;
}